abipy==0.9.6
absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1673535674859/work
ace_tools==0.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1676292672366/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
alembic==1.14.1
altair==5.2.0
annotated-types==0.7.0
annoy==1.17.3
anyio==3.6.2
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
apptools==5.2.0
APScheduler==3.10.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-to-latex==0.91
arrow==1.3.0
ase==3.22.1
asteval==1.0.5
astor==0.8.1
astropy==5.2.2
asttokens==2.2.1
astunparse==1.6.3
async-lru @ file:///croot/async-lru_1699554519285/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs==25.3.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1677767029043/work
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.0
bfieldtools==0.10
bleach==6.0.0
blinker==1.6.2
bokeh==2.4.3
brokenaxes==0.5.0
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764652625/work
cached-property==1.5.2
cachetools==5.3.0
captum==0.7.0
category-encoders==2.6.4
Cerberus==1.3.4
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi==1.15.1
cftime==1.6.3
charset-normalizer==3.1.0
chart-studio==1.1.0
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
clipboard==0.0.4
cloudpickle==3.1.1
cloudscraper==1.2.71
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog==6.9.0
comm==0.1.3
configobj==5.0.8
contourpy==1.0.7
corner==2.2.1
coverage @ file:///home/conda/feedstock_root/build_artifacts/coverage_1680817652706/work
cryptography @ file:///croot/cryptography_1686613057838/work
cvxopt==1.3.1
cvxpy==1.3.1
cycler==0.11.0
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1680712309287/work
dash==2.9.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dgl==1.1.3
dill==0.4.0
distlib==0.3.6
dnspython==2.3.0
dscribe==2.1.1
ecos==2.0.12
efficientnet==1.1.1
emcee==3.1.6
emmet-core==0.68.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
envisage==7.0.3
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
executing==1.2.0
fastjsonschema==2.16.3
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
filelock==3.12.0
firecrawl==2.16.3
firecrawl-py==2.16.3
Flask==2.3.2
flatbuffers==23.3.3
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1667734568827/work/source/flit_core
fonttools==4.39.3
fqdn==1.5.1
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1667935432857/work
fsspec==2023.5.0
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
fuzzywuzzy==0.18.0
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.41
glcontext==3.0.0
gmsh==4.13.1
gmsh-sdk==4.6.0.post1
google-ai-generativelanguage==0.1.0
google-api-core==2.25.1
google-auth==2.17.1
google-auth-oauthlib==0.4.6
google-generativeai==0.1.0rc1
google-pasta==0.2.0
googleapis-common-protos==1.70.0
graphtools==1.5.3
graphviz==0.20.1
greenlet==3.1.1
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1675289302417/work
grpcio-status==1.62.3
h11 @ file:///croot/h11_1706652277403/work
h5netcdf==1.1.0
h5py==3.8.0
httpcore @ file:///croot/httpcore_1706728464539/work
httpx @ file:///croot/httpx_1723474802858/work
huggingface-hub==0.14.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio==2.28.1
imageio-ffmpeg==0.5.1
imbalanced-learn==0.12.4
imblearn==0.0
imgaug==0.4.0
impedance==1.7.1
importlib-metadata==6.1.0
importlib-resources==5.12.0
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
ipykernel==6.22.0
ipympl==0.9.3
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.8
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonpointer==3.0.0
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978238815/work
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab @ file:///croot/jupyterlab_1725895214311/work
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
kaleido==0.2.1
keras==2.12.0
Keras-Applications==1.0.8
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
keras-tuner==1.3.5
kiwisolver==1.4.4
kt-legacy==1.0.5
latexcodec==2.0.1
lazy_loader==0.2
libclang==16.0.0
lightgbm==4.6.0
llvmlite==0.41.1
lmfit==1.3.2
lxml==5.1.0
Mako==1.3.10
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matlabengineforpython==9.14
matminer==0.9.0
matplotlib==3.7.5
matplotlib-inline==0.1.6
mayavi==4.8.1
mdurl==0.1.2
mendeleev==0.19.0
meshio==5.3.5
mistune==2.0.5
ml-dtypes==0.0.4
moderngl==5.12.0
monty==2022.9.9
mp-api==0.35.1
mpltern==1.0.0
mpmath==1.3.0
msgpack==1.0.5
mss==9.0.2
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1672339402773/work
natsort==8.4.0
nbclassic==0.5.4
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
nest-asyncio==1.5.6
netCDF4==1.6.5
networkx==3.0
nltk==3.9.1
nose==1.3.7
notebook==6.5.3
notebook_shim==0.2.2
numba==0.58.1
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-python==4.7.0.72
openpyxl==3.1.5
opt-einsum==3.3.0
optuna==4.3.0
orderedmultidict==1.0.1
originpro==0.0.1
osqp==0.6.2.post9
outcome==1.3.0.post0
overrides @ file:///croot/overrides_1699371140756/work
packaging==23.1
pacmap==0.8.0
palettable==3.3.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pep517==0.13.0
periodictable==1.6.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
phate==1.0.11
pickleshare==0.7.5
pillow==10.4.0
pip-shims==0.7.3
pipenv==2023.4.29
pipenv-setup==3.2.0
pipfile==0.0.2
pkgutil_resolve_name==1.3.10
platformdirs==3.2.0
plette==0.4.4
plotly==5.14.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
ply==3.11
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
progressbar2 @ file:///home/conda/feedstock_root/build_artifacts/progressbar2_1666856063684/work
prometheus-client==0.16.0
prompt-toolkit==3.0.38
proto-plus==1.26.1
protobuf==4.21.12
psutil==5.9.4
ptitprince==0.2.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.24.0
pycalphad==0.10.2
pycparser==2.21
pydantic==1.10.24
pydantic_core==2.27.2
pydeck==0.8.1b0
PyDispatcher==2.0.7
pydot==1.4.2
pyee @ file:///home/conda/feedstock_root/build_artifacts/pyee_1644152123334/work
PyEIS==1.0.10
pyerfa==2.0.0.3
pyexodus==0.1.5
pyface==8.0.0
pyfiglet==0.8.post1
pygam==0.8.0
Pygments==2.14.0
PyGSP==0.5.1
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1666240235902/work
pymatgen==2023.8.10
pymongo==4.3.3
PyOpenGL==3.1.6
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyorigin==0.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyppeteer @ file:///home/conda/feedstock_root/build_artifacts/pyppeteer_1643233645996/work
PyQt5==5.14.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyrsistent==0.19.3
pyshtools==4.10.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==7.3.0
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1664412836798/work
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-utils @ file:///home/conda/feedstock_root/build_artifacts/python-utils_1676043390394/work
pytorch-ignite==0.4.13
pytorch-tabnet==4.1.0
pytz==2023.3
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets==1.4.1
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772387080/work
pyzmq==25.0.2
qdldl==0.1.7
qtconsole==5.4.1
QtPy==2.3.1
referencing @ file:///croot/referencing_1699012038513/work
regex==2023.5.5
requests @ file:///croot/requests_1721410876868/work
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requirementslib==1.6.9
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfpimp==1.3
rich==13.7.0
rpds-py @ file:///croot/rpds-py_1698945930462/work
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s-gd2==1.8.1
scikeras==0.12.0
scikit-image==0.20.0
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1679675860262/work
scipy==1.10.1
scprep==1.2.3
scs==3.2.3
seaborn==0.13.2
selenium==4.27.1
Send2Trash==1.8.0
setuptools-scm @ file:///home/conda/feedstock_root/build_artifacts/setuptools_scm_1671302710265/work
shap==0.44.1
shapely==2.0.1
shtools==2.2.2
sip @ file:///croot/sip_1698675935381/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
skrebate==0.62
slicer==0.0.7
smmap==5.0.1
smogn==0.1.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
sparse==0.15.5
spb==0.1.1
spektral==1.3.1
spglib==2.0.2
SQLAlchemy==2.0.40
stability-selection @ git+https://github.com/scikit-learn-contrib/stability-selection.git@e6e34da3601cc8215cd0b08d5c5f3a9dd3ccfe01
stack-data==0.6.2
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1702575354706/work
streamlit==1.30.0
symengine==0.9.2
sympy==1.11.1
tabulate==0.9.0
tasklogger==1.2.0
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-addons==0.20.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorly @ file:///Users/jean/opt/anaconda3/conda-bld/tensorly_1673656889247/work
termcolor==2.2.0
terminado==0.17.1
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.2.1
tinydb @ file:///home/conda/feedstock_root/build_artifacts/tinydb_1673719807865/work
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.0
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
traits==6.4.1
traitsui==7.4.3
transformers==4.28.1
trimap==1.1.4
trimesh==3.21.6
trio==0.27.0
trio-websocket==0.12.2
triton==2.2.0
typeguard==2.13.3
types-python-dateutil==2.9.0.20241206
typing_extensions==4.13.2
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
tzlocal==5.2
umap==0.1.1
uncertainties==3.2.3
undetected-chromedriver==3.5.5
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
validators==0.22.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
vistir==0.8.0
vtk==9.2.6
watchdog==3.0.0
wcwidth==0.2.6
webcolors==24.8.0
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
websockets @ file:///croot/websockets_1678966790840/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1676411946679/work
widgetsnbextension==4.0.7
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
xarray @ file:///croot/xarray_1668776594578/work
xespresso==1.5.5
xgboost==2.1.4
xyzservices==2024.6.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1672340952088/work
zipp==3.15.0
