streamlit
setuptools
numpy
pandas
scipy
scikit-learn 
joblib
imbalanced-learn #==0.10.1
xgboost
lightgbm
category-encoders
torch
torchvision
pytorch-tabnet
pymatgen
matminer
plotly
matplotlib
seaborn
