imbalanced-learn==0.10.1
joblib==1.2.0
lightgbm==4.6.0
matminer
matplotlib==3.7.5
matplotlib-inline==0.1.6
numpy==1.23.5
pandas==1.5.3
plotly==5.14.0
pymatgen==2023.8.10
pytorch-ignite==0.4.13
pytorch-tabnet==4.1.0
scikit-learn==1.2.2
seaborn==0.13.2
streamlit==1.30.0
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
xgboost==2.1.4
category-encoders
html
